<!DOCTYPE html>
<head>
<meta charset="utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/js/jquery.min.js"></script>
<link href="/static/css/skyin.css" rel="stylesheet">
<script src="/static/css/skyin.js"></script>
<script src="/static/css/skyin-mctrl.js"></script>
<meta http-equiv="Content-Language" content="zh-cn">
{% block meta %}
<meta name="description" content="
......">
{% endblock %}
<meta name="AUTHOR" content="..">
<title>{{ info.title }} - {{ info.subtitle }}</title>
</head>
<body>
<canvas id="cvs"></canvas>
<nav id="nav">
<div id="circle"><span>项目实战</span></div>
<div id="nbtns">
<a href='/'><navbtn>&#61461; 首页</navbtn></a>{%- for (id,cate) in info.cate.items() %}<a href='/arch{{ id }}/1'><navbtn>{{ cate }}</navbtn></a>{%- endfor %}<a href='/memo'><navbtn>&#61508; 留言板</navbtn></a>
<a href='#'><navbtn>&#61549; </navbtn></a>
<a href='#'><navbtn>&#61549; </navbtn></a>
<a href='#'><navbtn>&#61549; </navbtn></a>
<a href='#'><navbtn>&#61549; </navbtn></a>
<a href='/admin'><navbtn>&#61549; 管理员登录</navbtn></a>
<a href='/logout'><navbtn>&#61549; 退出登录</navbtn></a>
</div>
<div id="navcate">&#61641;</div>
</nav>
<div id="mask"></div>
{% block main %}
<push></push>
<div class="container">
<div class="main">
<div class="full">
{% block content %}{% endblock %}
</div>
</div><div class="sidebar">
<div class="full">
{{ info.sidebar|safe }}
<div class="well small">
<tab>标签</tab>
<hr>
{{ info.tags|safe }}
</div>
</div>
</div>
</div>
{% endblock %}
<br><br><br>

</body>